@import '../variables.scss';
.error-message {
  position: absolute;
  top: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  max-width: 240px;
  color: #fff;
  background: linear-gradient(20deg, rgba(255, 0, 0, 1) 0%, rgba(200, 0, 0, 1) 100%);
  padding: 10px 20px;
  border: 1px solid rgba(10, 10, 10, 0.25);
}
.flight-table__wrapper {
  display: flex;
  flex-direction: column;
}
.flight-table__button {
  @include unbuttonize;

  height: 8vh;
  width: 100%;
  border-radius: 5px;
  font-family: Open-Sans, serif;
  font-size: 2vh;
  padding: 1vh;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
}
@media (min-width: 760px) {
  .flight-table__button {
    width: 502px;
    height: 50px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 50px;
  }
}
