@import '../variables.scss';
.flight-item {
  width: 100%;

  //height: 184px;
  background: #ffffff;
  box-shadow: 0 2px 8px 0 #0000001a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  &__price {
    width: 50%;
    height: 36px;
    font-family: Open-Sans, serif;
    font-size: 2.5vh;
    text-align: left;
    color: #2196f3;
  }

  &__carrier {
    width: 50%;
    text-align: right;
    //height: 36px;
    margin-bottom: 5px;
    & > img {
      width: 70%;
      max-width: 110px;
      margin: auto;

      //height: 36px;
    }
  }

  &__destination {
    &-from {
      //width: 141px;
    }

    &-to {
      //width: 141px;
    }
  }

  &__duration {
    &-from {
      //width: 141px;
      //height: 39px;
    }

    &-to {
      //width: 141px;
      //height: 39px;
    }
  }

  &__transfers {
    &-from {
      //width: 141px;
      //height: 39px;
    }

    &-to {
      //width: 141px;
      //height: 39px;
    }
  }
  &__chunk {
    font-family: Open-Sans, serif;
    font-size: 1.5vh;
    text-align: left;
    width: 30%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }
  &__desc {
    font-family: Open-Sans, serif;
    color: #a0b0b9;
    //height: 4vh;
    //font-size: 0.9vh;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
  }
}
@media (min-width: $screen-sm) {
  .flight-item {
    &__chunk {
      font-size: 2.2vh;
    }
    &__price {
      font-size: 4vh;
    }
  }
}
@media (min-width: $screen-md) {
  .flight-item {
    width: 502px;
    height: 184px;
    &__price {
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
    }
    &__carrier {
      margin-bottom: 20px;

      & > img {
        width: 110px;
        height: 36px;
      }
    }
    &__chunk {
      font-size: 14px;
      line-height: 21px;
      width: 141px;
      height: 39px;
      margin-bottom: 10px;
    }
    &__desc {
      font-size: 12px;
    }
  }
}
